*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border-radius: 8px;
  overflow: hidden;
}

.top {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.85);
  user-select: none;
  -webkit-app-region: drag;
}
.title{
  cursor: move;
  color:#fff;
  font-size:0.8rem;
  margin: 0 auto;
}
.dot {
    height: 0.8rem;
    width: 0.8rem;
    background-color: #ff5722;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.close,.copy{
  color: transparent;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
}

.close:hover,.copy:hover{
  color: #fff;
}

.content{

}

html{
  font-size: 150%;
}
body{
  font: 1.5rem 'open_sanslight',sans-serif;
  font-weight: 300;
}
::selection{
  background-color: #ff5722;
  color: #fff;
}
.btn{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: rgb(231, 231, 231);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.3),
              0 2px 4px rgba(0,0,0,0.3);
  border: 1px solid rgb(231,231,231);
  transition: all 0.25s;

}
.btn:hover{
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(220,220,220);
}
.btn:active, .btn.active{
  background-color: rgb(204, 204, 204);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.3);
  border: 1px solid rgb(204,204,204);
}
.screen{
  background-color: #bccfc7;
  min-height: 5.5rem;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}
.screen p{
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}

#calculator{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ddd;
}
.keys{
  flex: 1;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
}

.plus, .eval {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eval {
  color: #fff;
  background-color: #ff5722;
  border: 1px solid #ff5722;
  transition: background-color 0.25s,box-shadow 0.25s;
}
.eval:hover,.eval.active,.eval:active {
  background-color: #f44336;
  border: 1px solid #f44336;
}
